{% extends "layout.html"%}
{% block content %}
    
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <h3>Site tutorial</h3>
                <p>In this section I am going to explain how the giveh task has been acheived. So before we proceed further, I need to tell
                    you that you need to register yourself first. Still waiting!! hurry up
                </p>
            </div>
        </div>
        

        </div>
    </article>
{% endblock %}
